<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="/signout">Sign Out</a>
	<h1>Instagram Analytics</h1>

	<h2>Welcome <%= @user.username %></h2>
	<img src="<%= @user.profile_picture %>"> 

	<a href="/user_recent_media">Recent Media</a>
	
	
</body>
</html>

