client = Instagram.client(:access_token => session[:access_token])
  user = client.user
  html = "<h1>#{user.username}'s recent media</h1>"
  for media_item in client.user_recent_media(:count => 60)
    html << "<div style='float:left;'><img src='#{media_item.images.thumbnail.url}'><br/> <a href='/media_like/#{media_item.id}'>Like</a>  <a href='/media_unlike/#{media_item.id}'>Un-Like</a>  <br/>LikesCount=#{media_item.likes[:count]} CommentsCount=#{media_item.comments[:count]}</div>"
  end
  html

 <html>
 	<head>
 		<title>Recent Media</title>
 	</head>
 	<body>
 		<h1><=%{user.username}=>'s recent media</h1>
 		<form action="/" method="POST">
 			<label>Desde</label>
 			<input type="date" name="min_timestamp">
 			<label>a</label>
 			<input type="date" name="max_timestamp">
 			<input type="submit" value="enviar">
 		</form>
 	</body>
 </html>